@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 1000px;
}

.pd-y {
  margin: 40px 0;
}

button {
  border: none;
  outline: none;
  background-color: #fc036b;
  border-radius: 20px;
  color: white;
  width: 100px;
  padding: 5px;
  font-size: 14px;
  transition: all 0.1s;
  cursor: pointer;
}

button:hover {
  color: #fc036b;
  background-color: white;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.section-header {
  text-align: center;
  margin: 40px 0;
}

.section-title {
  color: #484872;
  font-size: 30px;
}

.section-header .line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fc036b;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 40px;
}

/* Start Home */

.home {
  background-image: url("img/header-bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
}

.home .header-title {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

header ul {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

header ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
}

header ul li:first-child a {
  color: #fc036b;
  font-weight: bold;
}

header ul li a:hover {
  color: #fc036b;
}

.home .section-header {
  margin: 280px auto;
  text-align: center;
}

.home .section-title {
  color: white;
}

.home .section-header .home-subtitle {
  text-transform: capitalize;
  color: white;
  margin-bottom: 5px;
}

.home-title {
  text-transform: uppercase;
  color: white;
}

.upcoming-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming .section-title {
  color: #484872;
}
.upcoming-content-info {
  width: 450px;
  height: 600px;
  text-align: center;
  margin: 0 25px;
}

.upcoming-content-info img {
  width: 100%;
  transition: all 0.5s;
}

.upcoming-content-info img:hover {
  transform: scale(1.1);
}

.upcoming-title {
  font-size: 20px;
  color: #484872;
  margin: 10px 0;
}

.upcoming-desc {
  text-align: justify;
  margin: 10px 0;
  color: #686868;
}

.upcoming button {
  margin: 10px;
}

/* Start Exploring */
.exploring {
  background-image: url("img/bg2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
}

.exploring .section-header {
  width: 50%;
}

.exploring .section-title {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

.exploring-info {
  width: 50%;
}

.exploring-info p {
  line-height: 1.7;
}

.exploring button {
  margin-top: 10px;
}

/* Start Upcoming */
.upcoming {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-upcoming {
  width: 30%;
  text-align: center;
}

.left-upcoming .section-title {
  font-size: 50px;
  text-align: left;
  text-transform: uppercase;
}

.left-upcoming .line {
  margin: 0;
}

.left-upcoming .upcoming-desc {
  font-size: 14px;
  text-align: left;
  width: 350px;
}

.right-upcoming {
  width: 650px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.right-upcoming img {
  width: 300px;
  height: 250px;
  margin: 10px;
  transition: all 0.2s;
}

.right-upcoming img:hover {
  transform: scale(1.08);
}

/* Start Footer */
.footer {
  background-color: #484872;
  color: whitesmoke;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .upcoming-content {
    flex-direction: column;
  }
  .exploring .section-header,
  .exploring-info {
    width: 100%;
  }
  .upcoming {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-upcoming {
    width: 80%;
    text-align: center;
  }
  .left-upcoming .upcoming-desc {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  header ul {
    margin-right: 0;
  }
  .contact-btn button {
    background-color: transparent;
    width: fit-content;
  }
  .upcoming-content {
    gap: 20px;
  }
  .upcoming-content-info {
    width: 80%;
    height: fit-content;
  }
  .upcoming-content-info img {
    width: 100%;
  }
  .exploring .section-title {
    font-size: 30px;
  }
  .exploring-info {
    font-size: 18px;
  }
  .right-upcoming {
    width: 100%;
  }
  .right-upcoming img {
    width: 60%;
    height: fit-content;
  }
  .upcoming .section-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  header ul {
    margin-right: 0;
    gap: 0;
    padding: 0 10px;
  }
  header ul li a {
    font-size: 12px;
  }
  .exploring .section-title {
    font-size: 25px;
  }
  .exploring-info {
    font-size: 14px;
  }
  .upcoming .section-title {
    font-size: 25px;
  }
  .upcoming-content-info {
    width: 80%;
  }
  .right-upcoming img {
    width: 80%;
    height: fit-content;
  }
}
